////////////////////////////////////////////////////////////////////////
// External configuration                                             //
////////////////////////////////////////////////////////////////////////

@fa-font-path: '../fonts/font-awesome';

// This overrides Glyphicons paths in Bootstrap:
// It is rather hacky since the fonts don't share the same characters.
// But it will fix a few errors trying to fetch fonts that don't exist.
// (we don't want glyphicons)
@icon-font-path: '../fonts/font-awesome/';
@icon-font-name: 'fontawesome-webfont';
@icon-font-svg-id: 'fontawesomeregular';


////////////////////////////////////////////////////////////////////////
// Colors                                                             //
////////////////////////////////////////////////////////////////////////

@white: #fff;
@gray0: #F7F7F7;
@gray1: #DAD3D3;
@gray2: #8E8787;

@dash1: #ecedef;
@dash2: #f5f6f8;
@dash3: #bbbbbd;

@blue: #1c99d6;
@black: lighten(#000, 8%);
@blacktitle: #616277;

//@color-primary: #0c4494;
@color-primary: #fff;
@color-secondary: #1c99d6;
@color-tertiary: #0ca0ad;
@color-fourth: #C9CACA;
@color-background: #fff;

@color-error: #c0392b;
@color-success: #2ecc71;
@color-warning: #f39c12;

@color-disabled: #bdc3c7;
@color-border: transparent;

// Misc
@hr-border: @color-border;


////////////////////////////////////////////////////////////////////////
// Logo                                                               //
////////////////////////////////////////////////////////////////////////

@logo-img-path: '../images/logo-open-edx.png';
@logo-img-width: 180px;
@logo-sm-img-path: '../images/logo-edx.png';
@logo-sm-img-width: 80px;


////////////////////////////////////////////////////////////////////////
// Fonts                                                              //
////////////////////////////////////////////////////////////////////////

@font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;

@font-size-base: 14px;
@line-height-base: 20/14;

@headings-line-height: 1.1em;

@headings-font-weight: 200;

@font-size-h1: 22px;
@font-size-h2: 18px;
@font-size-h3: 16px;
@font-size-h4: 16px;


////////////////////////////////////////////////////////////////////////
// Layout                                                             //
////////////////////////////////////////////////////////////////////////

@layout-top-spacing: 30px;
@layout-bottom-spacing: 30px;

@layout-header-height: 66px;
@layout-footer-height: 76px;


////////////////////////////////////////////////////////////////////////
// Misc                                                               //
////////////////////////////////////////////////////////////////////////

@default-border-radius: 4px;
