<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.lib.js_utils import escape_json_dumps
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>
<%block name="bodyclass"> not-signedin view-signin logoBackground</%block>
<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${ escape_json_dumps(data) | n };
        LogistrationFactory(options);
    </%static:require_module>
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
% endfor
</%block>

<div class="section-bkg-wrapper">
    <div id="login-and-registration-container" class="login-wrapper login-register" />
</div>
<script type="text/javascript">
  $(document).ready(function() {
    //console.log('Original content is:', $('#login-and-registration-container').html().length);

      setTimeout(populateWrapper,1200);
      setTimeout(populateLogin,1300);
      setTimeout(populateRegister,1400);

      $(document.body).on('click', 'button[data-type="register"]', function(){
            //console.log('Button Register called');
            setTimeout(populateRegister,200);

        });
      $(document.body).on('click', 'button[data-type="login"]', function(){
            //console.log('Button Login called');
            setTimeout(populateLogin,200);
        });
      
    });
      function populateWrapper(){
            //console.log('document Ready on Login and Register');
           
            $('#login-and-registration-container').toggle(200);
            $('#login-and-registration-container').prepend('<div class="logo-wrapper text-center"><img src="static/themes/edx-theme/images/logo.png" width="125" height="55"></div>');
            $('button.login-button').prepend('<img src="static/themes/edx-theme/images/login-icon.png" width="20" height="20">   ');
            //console.log('New content is:', $('#login-and-registration-container').html().length);
            
        };
    function populateLogin(){
        //console.log('document Ready on Login and Register');
       
       
        /*
        $('#login-and-registration-container #login-anchor').prepend('<div class="title text-center" style="box-shadow:none;" id="singInTitle">Sign in to your populo account</div>');
        */
        $('#login-password').attr('placeholder',' Password');
        $('#login-email').attr('placeholder',' Email');
        $('div.form-field.password-password > label').css('display','none');
        $('div.form-field.email-email > label').css('display','none');
        $('#login-remember').attr('checked',true);
        
    };
    function populateRegister(){
        //console.log('populateRegister called');
            var registerLength = $('#register-form').html().length;
            var loginLength = $('#login-form').html().length;
            /*
        $('#login-and-registration-container #register-anchor').prepend('<div class="title text-center" style="box-shadow:none;" id="singUpTitle">Sign up for a populo account</div>');
        */
        $('#register-password').attr('placeholder',' Password');
        $('#register-email').attr('placeholder',' Email');
        $('#register-name').attr('placeholder',' Name');
        $('#register-username').attr('placeholder',' Username');
        $('div.form-field.password-password > label').css('display','none');
        $('div.form-field.email-email > label').css('display','none');
        $('div.form-field.text-name > label').css('display','none');
        $('div.form-field.text-username > label').css('display','none');
        $('#login-remember').attr('checked',true);
        //console.log('New content is:', $('#login-and-registration-container').html().length);
       /*
        if(registerLength > 2){
            //console.log('Youre in Register');
            $('#singUpTitle').show();
            $('#singInTitle').hide();
        }else if(loginLength > 2){
            //console.log('Youre in Login');
            $('#singUpTitle').hide();
            $('#singInTitle').show();
        }else{
            //console.log('Youre in a modal');
            $('#singUpTitle').hide();
            $('#singInTitle').hide();
        }
        */
    };
</script>
<style>
    div.section-title.lines{
        /*display:none*/;
    }
    div#login-form form#login, form#register, form#password-reset {
    border: none;
    }
    div#login-form, div#register-form{
        margin-top:0px;
        padding-top:0px;
    } 
    div.form-field input {
        font-family: FontAwesome !important;
    }
    div.form-field.checkbox-remember{
        display:none;
    }
    #login-email-desc{
    display:none;
    }
    #login-and-registration-container{
    display:none;
    }
    input#login-email, input#login-password, input#register-password, input#register-username, input#register-name, input#register-email, input#password-reset-email{
     height:50px; border:none; background-color:#f5f6f8; box-shadow:none; margin-bottom:10px; font-size:14px; font-family: 'FontAwesome'
    }
    button.nav-btn.form-toggle{
        line-height:17px;
        box-shadow:none !important;
        border-color:rgba(18, 111, 154, 0.25);
    }
    button.nav-btn.form-toggle:hover{
        border-color:transparent;
    }
    div.select-gender, div.select-year_of_birth, div.select-level_of_education, div.select-level_of_education, div.textarea-mailing_address, div.textarea-goals{
        display:none !important;
    }
</style>
