<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>

<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _
import third_party_auth
from third_party_auth import provider, pipeline
from microsite_configuration import microsite
%>

<%block name="pagetitle">${_("Log into your {platform_name} Account").format(platform_name=platform_name)}</%block>

<%block name="bodyclass">not-signedin view-signin logoBackground</%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {

      // adding js class for styling with accessibility in mind
      $('body').addClass('js');

      // show forgot password modal UI if URL contains matching DOM ID
      if ($.deparam.fragment()['forgot-password-modal'] !== undefined) {
        $('.pwd-reset').click();
      }

      // new window/tab opening
      $('a[rel="external"], a[class="new-vp"]')
      .click( function() {
        window.open( $(this).attr('href') );
        return false;
      });

      // form field label styling on focus
      $("form :input").focus(function() {
        $("label[for='" + this.id + "']").parent().addClass("is-focused");
      }).blur(function() {
        $("label").parent().removeClass("is-focused");
      });

      $("#email").focus();
    });

    (function() {
      toggleSubmitButton(true);

      $('#login-form').on('submit', function() {
      //console.log('Login Form submitted');
        toggleSubmitButton(false);
      });

      $('#login-form').on('ajax:error', function(event, request, status_string) {
        //console.log('Login Form error');
        toggleSubmitButton(true);

        if (request.status === 403) {
          //console.log('Error 403');
          $('.message.submission-error').removeClass('is-shown');
          $('.third-party-signin.message').addClass('is-shown').focus();
          $('.third-party-signin.message .instructions').html(request.responseText);
        } else {
          //console.log('Error: ', request.status);
          $('.third-party-signin.message').removeClass('is-shown');
          $('.message.submission-error').addClass('is-shown').focus();
          $('.message.submission-error').html(gettext("Your request could not be completed.  Please try again."));
        }
      });

      $('#login-form').on('ajax:success', function(event, json, xhr) {
        //console.log('Login Form Success');
        //console.log('JSON: ',json);
        //console.log('xhr: ',xhr);
        if(json.success) {
          var nextUrl = "${login_redirect_url}";
          if (json.redirect_url) {
            nextUrl = json.redirect_url; // Most likely third party auth completion. This trumps 'nextUrl' above.
          }
          //console.log('Next Url: ', nextUrl);
          $('#userError').hide();
          if (!isExternal(nextUrl)) {
            location.href=nextUrl;
          } else {
            location.href="${reverse('dashboard')}";
          }
        } else if(json.hasOwnProperty('redirect')) {
          //console.log('Error elsif: ', json.value);
          // Shibboleth authentication redirect requested by the server:
          var u=decodeURI(window.location.search);
          if (!isExternal(json.redirect)) { // a paranoid check.  Our server is the one providing json.redirect
              location.href=json.redirect+u;
          } // else we just remain on this page, which is fine since this particular path implies a login failure
            // that has been generated via packet tampering (json.redirect has been messed with).
        } else {
          toggleSubmitButton(true);
          //console.log('Error: ', json.value);
          $('#userError').show(400);
          $('#userError legend').text(json.value);
          $('.message.submission-error').addClass('is-shown').focus();
          $('.message.submission-error .message-copy').html(json.value);
        }
      });
      $("#forgot-password-link").click(function() {
        $("#forgot-password-modal").show();
        $("#forgot-password-modal .close-modal").focus();
      });

    })(this);

    function toggleSubmitButton(enable) {
      var $submitButton = $('form .form-actions #submit');

      if(enable) {
        $submitButton.
          removeClass('is-disabled').
          attr('aria-disabled', false).
          removeProp('disabled').
          html('<img src="static/themes/edx-theme/images/login-icon.png" width="20" height="20">LOGIN');
      }
      else {
        $submitButton.
          addClass('is-disabled').
          prop('disabled', true).
          text("${_(u'Processing your account information')}");
      }
    }

    function thirdPartySignin(event, url) {
      event.preventDefault();
      window.location.href = url;
    }

    (function post_form_if_pipeline_running(pipeline_running) {
       // If the pipeline is running, the user has already authenticated via a
       // third-party provider. We want to invoke /login_ajax to loop in the
       // code that does logging and sets cookies on the request. It is most
       // consistent to do that by using the same mechanism that is used when
       // the use does first-party sign-in: POSTing the sign-in form.
       if (pipeline_running) {
         $('#login-form').submit();
       }
    })(${pipeline_running})


     

</script>
  </script>
</%block>

<%include file="forgot_password_modal.html" />

  <div class="wrapper-content wrapper col-xs-12" style="padding: 0 20px;" id="loginScreen">
    <form class="login-wrapper" role="form" id="login-form" method="post" data-remote="true" action="/login_ajax" novalidate>
              <div class="logo-wrapper text-center"><img src="static/themes/edx-theme/images/logo.png" width="125" height="55">
                </div>
                <div class="title text-center" style="box-shadow:none;">Sign in to your Populo account</div>
                <div class="form-f-wrapper" id="userError" style="display:none">
                  <legend style="font-size: 14px; text-align: center; color: #1C99D6; " >
                    Email is incorrect.
                  </legend>
                </div>
                <div class="form-f-wrapper">
                  
                    <input id="email" type="email" name="email" value="" class="form-control" aria-label="..." required aria-required="true" aria-described-by="email-tip" placeholder="&#xf003; Email"/>
                </div>
                <div class="form-f-wrapper">
                    
                    <input id="password" type="password" name="password" class="form-control" aria-label="..." required aria-required="true" placeholder="&#xF084; Password"/>
                </div>
                <!--
                <div class="form-actions">
                  <button type="submit" id="submit" name="submit" class="action action-primary">${_("Sign In to {platform_name}").format(platform_name=platform_name)}</button>
                  <a id="signup" name="signup" class="action action-primary" href="/register">${_("Sign up for {platform_name}").format(platform_name=platform_name)}</a>
                </div>
                -->
                <div class="form-f-wrapper form-actions">
                  <button type="submit" id="submit" name="submit" class="btn btn-pr">
                    <img src="static/themes/edx-theme/images/login-icon.png" width="20" height="20">LOGIN
                  </button>
                </div>
                
                <div class="form-f-wrapper">
                  <div class="row aLinks">
                    <div class="col-xs-12 col-sm-6"> 
                    <a href="#forgot-password-modal" rel="leanModal" class="pwd-reset action action-forgotpw" id="forgot-password-link" role="button" aria-haspopup="true">${_('Forgot password?')}</a></div>
                    <div class="col-xs-12 col-sm-6 text-right"><a href="/register">Don't have an account?</a>
                    </div>    
                </div>
            </div>
            <input name="honor_code" type="checkbox" value="true" checked="true" hidden="true">
        </form>
  </div>



<section class="login container">
  <section role="main" class="content">

    % if third_party_auth.is_enabled():

      <span class="deco-divider">
        ## Developers: this is a sentence fragment, which is usually frowned upon.  The design of the pags uses this fragment to provide an "else" clause underneath a number of choices.  It's OK to leave it.
        ## Translators: this is the last choice of a number of choices of how to log in to the site.
        <span class="copy">${_('or')}</span>
      </span>

    <div class="form-actions form-third-party-auth">

    % for enabled in provider.Registry.accepting_logins():
      ## Translators: provider_name is the name of an external, third-party user authentication provider (like Google or LinkedIn).
      <button type="submit" class="button button-primary button-${enabled.provider_id} login-${enabled.provider_id}" onclick="thirdPartySignin(event, '${pipeline_url[enabled.provider_id]}');"><span class="icon fa ${enabled.icon_class}"></span>${_('Sign in with {provider_name}').format(provider_name=enabled.name)}</button>
    % endfor

    </div>

    % endif

  </section>

    <aside role="complementary">

    </aside>
</section>
