## mako
<%namespace name='static' file='static_content.html'/>
<%namespace file='main.html' import="login_query, stanford_theme_enabled"/>
<%!
from django.core.urlresolvers import reverse
from django.utils.translation import ugettext as _

from microsite_configuration import microsite
from microsite_configuration.templatetags.microsite import platform_name
from lms.djangoapps.ccx.overrides import get_current_ccx
from student.roles import (
    GlobalStaff
)
# App that handles subdomain specific branding
from branding import api as branding
# app that handles site status messages
from status.status import get_site_status_msg
import ast
from notifications.views import live_unread_notification_count
from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user

def justIp(dns):
    sl1 = dns.find('ec2-', 0)
    sl2 = dns.find(':18010', sl1+1)
    ipprint=dns[sl1+4:sl2]
    sl3=ipprint.find('.eu-west')
    ipprint=ipprint[0:sl3]
    ipprint = ipprint.replace("-", ".")
    ipprint = 'http://'+ipprint

    return ipprint
%>

## Provide a hook for themes to inject branding on top.
<%block name="navigation_top" />

<%block>
<%
try:
    course_id = course.id
except:
    # can't figure out a better way to get at a possibly-defined course var
    course_id = None
site_status_msg = get_site_status_msg(course_id)
%>
% if site_status_msg:
<div class="site-status">
  <div class="inner-wrapper">
    <span class="white-error-icon"></span>
    <p>${site_status_msg}</p>
  </div>
</div>
% endif
</%block>
<style>
  .notification_alert{height: 10px; width: 10px; background-color: #1db4b3; border-radius: 100%; float: right; line-height: 51px; margin-left: -10px;}
  .notification_count{ border-radius: 100%; background-color: #1db4b3; text-align: center; height: 15px;
    color: #fff; line-height: 16px; font-size: 11px; padding: 5px 0; width: 25px; display: inline-block;}
  .user .primary ul li a:focus{outline:none;}
</style>
<%
  if request.user.is_authenticated():
    # for notification count added by Hardik Chauhan
    unread_count_data = live_unread_notification_count(request)
    unread_count = ast.literal_eval(unread_count_data.getvalue())['unread_count']
    make_span = "<span class='notification_count'>"+str(unread_count)+"</span>" if unread_count > 0 else ''
%>


<%
PLACEHOLDER_USERNAME = '__PLACEHOLDER_USERNAME'
## !
%>

<script type="text/javascript">

$(document).ready(function () {
  // Due to confliction rewrite this for navigation ddl in header
  $("#menuD, #profile-menu").click(function(e){
    e.stopImmediatePropagation();
    e.preventDefault();
    if (e.target.closest("a").id == "menuD"){
      $("#profileD-wrapper").hide(); 
      $("#menuD-wrapper").toggle();
    }
    if(e.target.closest("a").id == "profile-menu"){
      $("#menuD-wrapper").hide();
      $("#profileD-wrapper").toggle(); 
    }
  });

  if ( event.which == 32) {
      
      event.preventDefault();
  } 
});

</script>
<header class="navbar navbar-default navbar-fixed-top global" id="mainMenu">
  <div class="col-md-12 nav-dd ui-right">

        % if user.is_authenticated():
          <div class="btn-group col-xs-1" style="padding-left: 0px;">
            <nav class="hidden-xs" style="padding-top: 11px;">
              <a id="menuD" href="#" class="header-icon tip higher">
             
                <img src="/static/themes/edx-theme/images/menu-icon.png" style="">
              </a>
              <ul id="menuD-wrapper" class="dropdown-menu menuD">
                  <li>
                      <a href="/" >
                      <img src="/static/themes/edx-theme/images/dashboard-icon-blue.svg" width="35" height="35" />My Dashboard
                      </a>
                  </li> 
                  <li>
                      <a href="${marketing_link('COURSES')}">
                      <img src="/static/themes/edx-theme/images/search-courses-blue-icon.svg" width="35" height="35" />Search
                      </a>
                  </li> 
                  % if GlobalStaff().has_user(user):
                  <li>
                      <a href="${settings.CMS_BASE}">
                      <img src="/static/themes/edx-theme/images/designer-icon-blue.svg" width="35" height="35" />${_("Activity Designer").format(platform_name=settings.PLATFORM_NAME)}
                      </a>
                  </li>      
                  % endif                    
              </ul>
            </nav>
          </div>
        % else:
          <style>
          .view-register header.global nav, .view-login header.global nav{width: auto;}
          </style>
          <div class="btn-group col-xs-2">
            <nav class="hidden-xs" style="padding: 0;">
              <a href="${marketing_link('ROOT')}" class="header-icon tip higher">
                <img src="/static/themes/edx-theme/images/populo-logo.png" style="height:45px;">
              </a>
            </nav>
          </div>
          <ol class="left nav-global">
            <%block name="navigation_other_global_links">
              % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
                  % if settings.FEATURES.get('ENABLE_COURSE_DISCOVERY'):
                  <li class="nav-global-05">
                    <a class="cta cta-discovery" href="/courses">${_("Find Courses")}</a>
                  </li>
                  %endif
              % endif
            </%block>
          </ol>
        % endif
    <div class="btn-group profile-wrapper pull-right">
      % if user.is_authenticated():
        <nav class="hidden-xs pull-right" style="padding-top: 0px;">
          <a id="profile-menu" style="display:table;" class="tip higher">
            <div class="tile-avatar">
              <img id="imageMain" src="${get_profile_image_urls_for_user(request.user)['medium']}" />
    
            </div>
            <div id="userMenu">
              <img src="/static/themes/edx-theme/images/dropdown-dots.png" />
            </div>  
          </a>
          <ul id="profileD-wrapper" class="dropdown-menu menuD" aria-labelledby="profile-menu">
            <li>
              <a href="${reverse('account_settings')}">
                <img src="/static/themes/edx-theme/images/settings-blue-icon.svg" width="35" height="35"> ${_("Settings")}
              </a>
            </li> 
            <li>
              <a href="${reverse('learner_profile', kwargs={'username': user.username})}">
                <img src="/static/themes/edx-theme/images/my-profile-blue-icon.svg" width="35" height="35"> ${_("My Profile")}
              </a>
            </li> 
            <li>
              <a href="${reverse('logout')}" role="menuitem">
                <img src="/static/themes/edx-theme/images/logout-blue-icon.svg" width="35"   height="35"> ${_("Logout")}
              </a>
            </li>                          
          </ul>
        </nav> 
        <a class="header-icon pull-right tip higher" href="/inbox/notifications/unread/">
        %if unread_count:
          <p class="notification_alert"></p>
        %endif 
        <span>Notifications and activities</span><img src="/static/themes/edx-theme/images/notification-icon.png"></a>
        <a class="header-icon pull-right tip higher" href="#"><span>Messages</span><img src="/static/themes/edx-theme/images/message-icon.png">
        </a>
        % else:
          <style>
          header.global .nav-courseware li .cta, header.global .nav-courseware div .cta, .login .form-actions button[type="submit"], .register .form-actions button[type="submit"], .passwordreset .form-actions button[type="submit"], #forgot-password-modal #password-reset .form-actions button[type="submit"], .view-survey .action-primary{color: #fff !important; margin-left: 20px; padding: 7px 20px !important;}
          </style>
          <ol class="right nav-courseware">
            <%block name="navigation_sign_in">
              <li class="nav-courseware-01">
                % if not settings.FEATURES['DISABLE_LOGIN_BUTTON']:
                    % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                    <a class="cta cta-login" href="${reverse('course-specific-login', args=[course.id.to_deprecated_string()])}${login_query()}">${_("Sign in")}</a>
                    % else:
                    <a class="cta cta-login" href="/login${login_query()}">${_("Sign in")}</a>
                    % endif
                % endif
                % if course and settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
                <li class="nav-global-04">
                  <a class="cta cta-register" href="${reverse('course-specific-register', args=[course.id.to_deprecated_string()])}">${_("Register")}</a>
                </li>
                % else:
                <li class="nav-global-04">
                  <a class="cta cta-register" href="/register${login_query()}">${_("Register")}</a>
                </li>
                % endif
              </li>
            </%block>
          </ol>
        % endif   
    </div> 
  </div>
</header>

% if course:
<!--[if lte IE 9]>
<div class="ie-banner" aria-hidden="true">${_('<strong>Warning:</strong> Your browser is not fully supported. We strongly recommend using {chrome_link} or {ff_link}.').format(chrome_link='<a href="https://www.google.com/chrome" target="_blank">Chrome</a>', ff_link='<a href="http://www.mozilla.org/firefox" target="_blank">Firefox</a>')}</div>
<![endif]-->
% endif

<%include file="help_modal.html"/>
